<div class="containeruniversal">
  <p>&nbsp;</p>
  <div *ngIf="loader===true" class="centrar__loading">Cargando Productos Tipo....</div>
  <div class="universal__titulo "  *ngIf="loader===false">Resultado de los productos</div>
  <div class="alinear__btn"  *ngIf="loader===false">
    <button [ngClass]=" ValidadorAnterior() ? 'esconder__btn ': ''" (click)="PreviousPage()" [disabled]="ValidadorAnterior()" class="design__btn"><div class="alinear__flechas"><mat-icon>skip_previous</mat-icon> Anterior</div></button>
    <button (click)="nextPage()" class="design__btn"><div class="alinear__flechas">Siguiente<mat-icon>skip_next</mat-icon></div></button>
  </div>
  <div *ngIf="loader===false"
    style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; justify-content: center;">

    <div *ngFor="let productosfinales of arregloprocustos | filtro:pagina">
      <div>
        <app-erick-card [nombre]="productosfinales.name" [precio]="productosfinales.price" [brand]="productosfinales.brand"
          [rating]="productosfinales.ratting" [imagen]="productosfinales.image_link" [category]="productosfinales.category"
          [description]="productosfinales.description" [product_type]="productosfinales.product_type" [colors]="productosfinales.product_colors">
        </app-erick-card>
      </div>
    </div>
  </div>
</div>


