<div style="background-color: #1a5ea2; width: 100%; height: 64px;">
  <div class="example-sidenav-content">
    <div fxLayout="row wrap" fxLayoutGap="50% grid" fxLayoutAlign="space-between center">
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <button type="button" style="background-color: #1a5ea2" mat-button (click)="drawer.toggle()">
          <i class="material-icons" style="color: white; font-size: 30px; ">menu</i>
        </button>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div style="color: aliceblue;"> {{nombre_usuario}}</div>
      </div>
    </div>
  </div>
</div>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <app-sidebar (click)="onSidenavClose()"></app-sidebar>
  </mat-drawer>
  <div class="contenedor__principal">
    <app-universal></app-universal>
  </div>
</mat-drawer-container>
