<mat-nav-list>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon class="color_icono">home</mat-icon> <span class="nav-caption">Toda la Api</span>
  </a>
  <a mat-list-item routerLink="/categoria" (click)="onSidenavClose()">
    <mat-icon>looks_one</mat-icon> <span class="nav-caption">Categoría</span>
  </a>
  <a mat-list-item routerLink="/tipo" (click)="onSidenavClose()">
    <mat-icon>looks_two</mat-icon><span class="nav-caption">Tipo de producto</span>
  </a>
  <a mat-list-item routerLink="/marca" (click)="onSidenavClose()">
    <mat-icon>looks_3</mat-icon><span class="nav-caption">Brand</span>
  </a>
</mat-nav-list>
