.loginpage{
  display: grid;
  grid-template-columns: repeat(2,50%);
  height: 100vh;
}
.contenedorlogin{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.imglogin{
  width: 50%;
  height: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fondo{
  height: 100%;
  width: 100%;
  top:-10%;
  right: 48%;
  background-image: linear-gradient(-45deg,#1A3D82,#1c4db0);
  /*transform: translate(-40%);
  border-radius: 50%;*/
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-data {
  text-align: center;
  width: 60%;
}

.login-data h1 {
  font-weight: 200;
}

.input-group {
  position: relative;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.input-fill input {
  border: none;
  border-bottom: 3px solid #848f9a;
  width: 100%;
  height: 2rem;
  font-size: 1.0625rem;
  padding-left: 2rem;
  line-height: 147.6%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.input-fill input:focus {
  outline: none;
  border-color: #1A3D82;
}

.input-fill input:hover {
  background-color: #e9ecef;
}

.input-fill input:focus + .input-label {
  top: 0;
  margin-bottom: 2rem;
  color: #1A3D82;
}

.input-fill input:focus ~ i {
  color: #1A3D82;
}

.input-fill .input-label {
  position: absolute;
  top: 10px;
  left: 28px;
  line-height: 147.6%;
  color: #848f9a;
  transition: top 0.2s;
  font-weight: 500;
}

.input-fill i {
  position: absolute;
  top: 16px;
  left: 0;
  color: #848f9a;
  font-size: 1rem;
}
.btn-login {
  border-radius: 3rem;
  width: 45%;
  border: 1px solid #1A3D82;
  line-height: 1.6rem;
  font-size: 1.3rem;
  background-color: #1A3D82;
  color: #ffffff;
  padding: 0.5rem 0;
  transition: 0.3s ease-in-out all;
  font-weight: 500;
  margin-left: 5px;
}

.btn-login:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #1A3D82;
}
.panelerror{
  width: 100%;
  border: solid 1px #EE2B2B;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #DF3535;
  color: white;
}
@media(max-width: 768px){
  .loginpage{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .contenedorlogin{
    display: none;
  }
  .login {
    width: 100%;
    height: 100%;
  }
}
